<div>
  <%= post.app_name %>
  <%= post.app_url %>
  <%= post.github_url %>
  <%= post.usage_technology %>
  <%= post.points_for_effort %>
  <%= post.target_users %>
  <%= post.pain_point %>
  <%= post.remedy %>
  <%= post.comment %>
</div>
<div>
  <%= post.graduating_class %>
  <%= post.name %>
  <%= post.contact %>
</div>